*{
    margin: 0;
    padding: 0;
    
}
.main{
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px ;
    
} 
.main1{
    background-position: center;
    background-size: cover;
    background-color: #4010fe;
    text-align: center;
    color: white;
    border: 2px solid rgb(241, 167, 7);
    border-radius: 100000px;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
  }
  
.videoo{
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content2{
    text-align: center;
    word-spacing: normal;
    margin-top: 5px;
    font-size: 120%;
    color: #fec210;
}
